.container {
    background-color: bisque;
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 20px;
}
.btn {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    min-width: 80px;
}
.hover-item {
    &:hover {
        filter: drop-shadow(0 0 6px aqua);
        cursor: pointer;
    }
}